body{
    background-color: lightblue;
}
#submit-button {
    border-radius: 15px 50px;
    background: #e5aae7;
    padding: 20px;
    width: 100px;
    height: 15px;
  }

#country-info{
    background-color: rgb(195, 156, 233);
}
#bordering-countries{
    background-color: cornflowerblue;
}
